<!doctype html>
<html ng-app="app">
  <header>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
    <script language="javascript" type="text/javascript">
      angular.module('app', []);
      
      //Whatever you put on the controller scope,
      //will be availalble in the HTML element bound to the controller.
      function MyController($scope){
        $scope.newMessage = "";
        $scope.names = "";
        $scope.messages = ["GS : Apple"]; 
        
        $scope.add = function(){
          $scope.messages.push($scope.names + " : " + $scope.newMessage);
        };
      }
    </script>
  </header>
  
  <body ng-controller="MyController"  style="background-color:#FAEBD7;">
    <h2>Fruity Fruit</h2>

    <br>
    <img src="http://us.123rf.com/400wm/400/400/cookelma/cookelma0709/cookelma070900176/1592193-ripe-fresh-fruit-wholesome-food.jpg" width="200px">
    <br>
    Name:
    <input type="text" ng-model="names"><br>
    What is your favourite fruit?:   
    <input type="text" ng-model="newMessage">
    <input type="submit" ng-click="add()" value="Fruit">
    <br>
    Favourite fruits <br>
    <ul>
      <li ng-repeat="message in messages">
        {{message}}
      </li>
    </ul>
    
   
  </body>
  
</html>
